body {
    font-family:Arial;
    background-image: radial-gradient(rgba(25,25,112,0.5),rgba(75,0,130,0.5),rgba(139,0,0,0.5));
  }
 #title {
    padding:1.5em;
    padding-left: 5em;
    font-weight: bolder;
    font-size: larger;
    color:wheat;
    background-image: linear-gradient(to top, rgba(0,128,128,0.5),rgba(0,0,0,0.5));
    margin:5px;
    text-align: center;

  }
  body>main>nav {
    background-color:  rgba(255,235,205,0.5);
    padding:3px;
    width: 30vh;
    margin: 1em;
  }
  body>main>nav>header {
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: auto;
    padding:5px;
    width:auto;
  }
  body>main>nav>ul>li {
  list-style-type: none;
  padding:0.3em;
  
  }
  body>main>nav>ul>li>a {
    text-decoration:none;
    color:black;
  }
  body>main>nav>ul>li>a:visited {
    text-decoration:none;
    color:black;
  }
  header {
    font-weight:bold;
  }
  .main-section {
    background-color:rgba(220,220,220,0.2);
    width:auto;
    margin:1.5em;
    margin-right: 10%;
    padding:2em;
  }
  code {
  background-color:rgb(219,215,210);
  margin:2em;
  width:100%;
  
  }